<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
      <div class="container">
        <h1>Browsing the <%= name %> subreddit </h1>
        <h2><%= description %></h2>
        <h3><%= subscribers %></h3>
        <br>
        <div>
            <% for (post of posts) { %>
                <div>
                    <h3><%= post.title %>  - <%= post.author %></h3>
                    <% if (post.img) { %>
                        <img src="<%= post.img %>">
                    <% } %>
                </div>
            <% } %>
        </div>
      </div>
      <%- include('partials/footer') %>